@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-color: #2e2e2e;
}

* {
    color: #ffffff;
    font-family: 'Oswald';
    font-weight: 100;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
